@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin:0;
    padding:0;
    font-family: 'Roboto', 'Times New Roman', Times, serif;
}
:root {
    --dark-dark: #7286D3;
    --dark-light: #8EA7E9;
    --light-dark: #E5E0FF;
    --light-light: #FFF2F2;
}

/* Container */
.container {
    display:flex;
    height:calc(100vh - 97px);
}
.list-container {
    overflow:scroll;
    flex:1;
    background-color:#DDD;
}
.header {
    background-color:var(--dark-light);
    padding:20px;
}

.header-title {
    font-size:48px;
    text-align:center;
    color:white;
}

/* List */
.list {
    display: flex;
    flex-direction: column;
    background-color: var(--light-light);
    padding:15px 35px;
    gap:2px;
    min-height:calc(100vh - 127px);
}
.list-title {
    flex:1;
    width:fit-content;
    font-size:36px;
    text-align:left;
    font-weight:bold;
    background-color:transparent;
    border:none;
    outline:none;
}
.list-desc {
    font-size:18px;
    margin-bottom:10px;
}
.list-btn-container {
    display:flex;
    gap:10px;
    padding-bottom:15px;
    margin-bottom:10px;
}
.list-btn-container button {
    border:none;
    font-weight:bold;
    color:white;
    background-color:var(--dark-light);
    font-size:16px;
    font-weight:bold;
    padding:10px;
    border-radius:30px;
    transition: all 0.1s ease;
}
.list-btn-container button:hover {
    background-color:var(--dark-dark);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
    cursor:pointer;
}
.list-completed {
    margin-bottom:15px;
}

/* List item */
.list-item {
    display:grid;
    grid-template-columns: max-content 1fr max-content max-content;
    align-items:center;
    text-align:right;
    padding:10px;
    transition: all 0.1s ease;
    gap:15px;
}
.list-item:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
    cursor:pointer;
}
.list-item-title {
    max-width:100%;
    font-size:16px;
    text-align: left;
    font-weight:bold;
    border:none;
    background-color: transparent;
    overflow:hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    cursor:pointer;
    outline:none;
}
.list-item-delete {
    opacity:0;
    transition: all 0.1s ease;
    font-size:18px;
}
.list-item:hover .list-item-delete {
    opacity:100;
}
.list-item svg {
    color: var(--dark-dark);
}
.list-item svg::selection {
    background-color:transparent;
}

/* Form */
.form-container {
    height:100%;
    width:100%;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(0, 0, 0, 0.8);
    z-index:2;
}
.form {
    background-color: var(--light-light);
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display:flex;
    flex-direction: column;
    padding:25px;
    border-radius:15px;
    gap:15px;
    width:max-content;
}
.form-label {
    text-align: center;
}

.form > input {
    flex:1;
    border:none;
    border-radius:15px;
    font-size:16px;
    padding:15px 20px;
    transition:all 0.1s ease;
}
.form > input:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
    cursor:pointer;
}
.form input[type="submit"], .form input[type="button"] {
    background-color: var(--dark-light);
    transition: all 0.1s ease;
}
.form input[type="submit"]:hover, .form input[type="button"]:hover {
    background-color: var(--dark-dark);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
    cursor:pointer;
}

.form-btn-container {
    display:flex;
    justify-content: space-evenly;
    margin-top:10px;
}
.form-btn-container input {
    border:none;
    background-color:#7286D3;
    padding:10px 20px;
    font-size:16px;
    border-radius:30px;
    color:white;
    font-weight:bold;
    transition: all 0.1s ease;
}

.add-list-btn {
    border:none;
    color:white;
    font-weight: bold;
    background-color:var(--dark-light);
    font-size:32px;
    padding:10px;
    border-radius:30px;
    position:fixed;
    bottom:50px;
    right:50px;
    z-index:1;
    transition: all 0.1s ease;
}
.add-list-btn:hover {
    background-color: var(--dark-dark);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
    cursor:pointer;
}

/* Navbar */
#nav-bar {
    background-color: var(--light-dark);
    width:30%;
    display:flex;
    flex-direction: column;
    gap:5px;
    padding:5px 0;
}
.nav-link {
    min-height:19px;
    font-weight:bold;
    list-style-type: none;
    border-radius: 5px;
    padding:10px 20px;
    transition: all 0.1s ease;
    margin:0px 5px;
}
.nav-link-active {
    background-color:#8EA7E9;
}

.nav-link:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
    cursor:pointer;
}